asgiref==3.7.2
beautifulsoup4==4.12.3
Django==5.0.1
django-bootstrap4==23.4
djangorestframework==3.14.0
fontawesomefree==6.5.1
pytz==2023.3.post1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
