body {
    font-family: sans-serif;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: #333333;
    font-size: 0.9em;
}

#application_title {
    display: inline;
}

.logo {
    height: 30px;
    width: 30px;    
    align-items: top;    
}

#header {
    width: 100%;    
}

#navigation {
    width: 100%;    
    color: #ffffff;
    padding: 2px;

}

#footer {
    width: 100%;    
}

#application_title {
    display: inline;
    vertical-align: middle;
}

#header {
    vertical-align: middle;
    width: 100%;
    background-color: #3caea3;
}

a {
    text-decoration: none;     
    color: #fff;  
    font-weight: bold; 
    font-size: large;
}

.nav_link {
    color: #fff;
    font-weight: bold;
}

#content {
    padding-left: 10px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.friend-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.post-image {
    width: 50%;  
    height: 300px;  
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.post{
    height: 400px;
}

.card{
    padding: 0.5em;    
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card-title{    
    font-size: 1.2em;
    font-weight: 600;
    color: #20639b;
}

.title{    
    font-weight: 500;
    color: #20639b;
}


.card-text{
    color: #20639b;
}
.btn{
    border-radius:5px;          
    background-color: #008CBA;
    color: #fff; 
    padding: 0.3em;
    min-width: 100px;    
}

.btn:hover {  
    border-radius:5px;          
    background-color: #008CBA;
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.friend-list-item{    
    border-radius: 10px;
}

.friend-list-item img{
    width: 10%;
    height: 10%;
}

.login-card {        
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-thumnail-item{
    height: 220px;
    width: 220px;  
    border: 3px solid #a881af;  
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.image-gallery{
    background-color: #DBF9FC;
}

.greeting{    
    font-size: 1em;    
    color: #20639b;
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .search-result-item:after,
  .search-result-item:before {
    content: ' ';
    display: table;
  }
  
  .search-result-item:after {
    clear: both;
  }
  
  .search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  @media (min-width:768px) {
    .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0 -20px -20px;
        float: left;
        width: 250px
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 250px
    }
}

.search-result-item .image {
    max-width: 100%
}

.search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999
}

.search-result-item .description {
    font-size: 13px
}

.search-result-item+.search-result-item {
    margin-top: 20px
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 200px
    }
}

.search-result-item-heading {
    font-weight: 400
}

.search-result-item-heading>a {
    color: #555
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}