{% extends './base.html' %}

{% block content %}
  <main role="main">
    <section class="jumbotron text-center mt-2" style="background-image: url('media/assets/HomeCare.jpg');">
      <div class="container">
        <h1 class="jumbotron-heading">My Dashboard</h1>
        <p class="lead text-muted">Need Service Provider for services. Click on Search below.</p>
        <p>
          <a href="/search" class="btn btn-secondary p-3 fw-bold">Search Service Providers</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Profile</h5>
                <p class="card-text">View or Update your profile details</p>
                <div class="btn-group text-center">
                  <a type="button" href="/profile/{{ request.user.id }}" class="btn btn-sm btn-secondary">Profile</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Contacts</h5>
                <p class="card-text">View your stored contacts to connect.</p>
                <div class="btn-group text-center">
                  <a type="button" href="/savedproviders" class="btn btn-sm btn-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title text-center">Communications</h5>
                <p class="card-text">View your communications</p>
                <div class="btn-group text-center">
                  <button type="button" class="btn btn-sm btn-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
