{% extends './base.html' %}

{% block content %}
  <main role="main">
    <section class="jumbotron text-center mt-2" style="background-image: url('media/assets/HomeCare.jpg');">
      <div class="container">
        <h1 class="jumbotron-heading">Old Age Home Care Services</h1>
        <p class="lead text-muted">Frequently asked questions.</p>
      </div>
    </section>
    <div class="container">
      <div class="py-5 bg-light">
        <div class="list-group w-100">
          {% for item in faq_results %}
            <div aria-controls="faqcollapse" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ item.question }}</h5>
              </div>
              <p class="mb-1">{{ item.answer }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
