{% extends './base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        {% if registered %}
          <strong>thank you for registering</strong>
        {% else %}
          <form id="user_form" method="post" action="register" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form.as_p }}
            {{profile_form.as_p}}            
            <br />
            <input type="submit" name="submit" value="Register" class="btn btn-secondary" />
            <a name="login" href="/login" class="btn btn-secondary">Cancel</a>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% include './footer.html' %}
