{% extends './base.html' %}

{% block content %}
  <main role="main">
    <section class="jumbotron m-5 mb-5">
      <div class="container" style="margin-top: 20px;">
        <h4>Search Service Providers</h4>
        <form action="search" method="post" class="text-center align-items-center">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <input type="text" name="search_input" class="form-control" placeholder="Search by Name or Pin Code" aria-label="First name" />
            </div>
          </div>
          <div class="row m-4" id="services">
            <div class="form-check m-2">
              <input class="form-check-input" value="Nursing" type="radio" name="services" id="services" />
              <label class="form-check-label">Nursing</label>
            </div>
            <div class="form-check m-2">
              <input class="form-check-input" value="Assisted Care" type="radio" name="services" id="services" />
              <label class="form-check-label">Assisted Care</label>
            </div>
            <div class="form-check m-2">
              <input class="form-check-input" value="Health Care" type="radio" name="services" id="services" />
              <label class="form-check-label">Daily Health Checkup</label>
            </div>
            <div class="form-check m-2">
              <input class="form-check-input" value="all" type="radio" name="services" id="services" />
              <label class="form-check-label">All</label>
            </div>
          </div>
          <div class="row m-4">
            <div class="col">
              <button type="submit" class="btn btn-lg btn-secondary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
