
{% extends './base.html' %}    
{% load shared_filters %}  

{% block content %}
    <main role="main">
      <section class="jumbotron m-5">
        <div class="container">
          <h4>Search Service Providers </h4>
          <form action="search" method="post" class="text-center align-items-center">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <input type="text" name="search_input" class="form-control" placeholder="Search by Name or Pin Code" aria-label="First name">
              </div>                            
            </div>  
            <div class="row m-2">
              {% for item in care_services %}
                <div class="col">
                  <input type="checkbox" class="form-check-input" id="{{item.id}}">
                  <label class="form-check-label" for="{{item.id}}">{{item.description}}</label>
                </div>   
              {% endfor %}                     
            </div>  
            <div class="row m-4">
              <div class="col">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>              
            </div>          
          </form>
        </div>
      </section>
      <section class="m-5 mb-5 bg-light">
        <div class="container">
          {% for item in search_results %}
          <div class="row mt-2">
            <section class="search-result-item">
              <img class="image image-link" height="200" src="/media/assets/flower.jpg" alt="service provider" />
              <div class="search-result-item-body">
                <div class="row">
                  <div class="col-sm-9">
                    <h4 class="search-result-item-heading">{{item.title}}</h4>
                    <p class="info">{{item.city}}, {{item.pin}}</p>
                    <p class="description">{{item.summary}}</p>                    
                    <p>
                      {% with item.services|split:"," as services %}
                          {% for service in services %}
                              <span class="badge badge-light">{{ service }}</span>                              
                          {% endfor %}
                      {% endwith %}                        
                    </p>                    
                  </div>
                  <div class="col-sm-3 text-align-center">
                    <p class="value3 mt-sm">**** {{item.rating}}/10</p>
                    <a class="btn btn-primary btn-info" href="#"> View Details </a>
                  </div>                  
                </div>
              </div>
            </section>
          </div>    
          {% endfor %}        
        </div>
      </div>
    </main>

{% endblock %}