
{% extends './base.html' %}    
{% load shared_filters %}  

{% block content %}
    <main role="main">
      <section class="jumbotron m-5">
        <div class="container">
          <h4>Search Service Providers </h4>
          <form action="search" method="post" class="text-center align-items-center">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <input type="text" name="search_input" class="form-control" placeholder="Search by Name or Pin Code" aria-label="First name">
              </div>                            
            </div>  
            <div class="row m-4" id="services">
              <div class="form-check m-2">
                <input class="form-check-input" value="Nursing" type="radio" name="services" id="services" />
                <label class="form-check-label">Nursing</label>
              </div>
              <div class="form-check m-2">
                <input class="form-check-input" value="Assisted Care" type="radio" name="services" id="services" />
                <label class="form-check-label">Assisted Care</label>
              </div>
              <div class="form-check m-2">
                <input class="form-check-input" value="Health Care" type="radio" name="services" id="services" />
                <label class="form-check-label">Daily Health Checkup</label>
              </div>
              <div class="form-check m-2">
                <input class="form-check-input" value="all" type="radio" name="services" id="services" />
                <label class="form-check-label">All</label>
              </div>
            </div>
            <div class="row m-4">
              <div class="col">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>              
            </div>          
          </form>
        </div>
      </section>
      <section class="m-5 mb-5 bg-light">
        <div class="container">
          {% for item in search_results %}
          <div class="row mt-2">
            <section class="search-result-item">
              <img class="image image-link" height="200" src="/media/{{item.image}}" alt="service provider" />
              <div class="search-result-item-body">
                <div class="row">
                  <div class="col-sm-9">
                    <h4 class="search-result-item-heading">{{item.title}}</h4>
                    <p class="info">{{item.city}}, {{item.pin}}</p>
                    <p class="description">{{item.summary}}</p>   
                    <p class="url"> <label>Website Url: </label> {{item.website_url}}</p>                    
                    <p>
                      {% with item.services|split:"," as services %}
                          {% for service in services %}
                              <span class="badge badge-light">{{ service }}</span>                              
                          {% endfor %}
                      {% endwith %}                        
                    </p>                    
                  </div>
                  <div class="col-sm-3 text-align-center">
                    <p class="value3 mt-sm">**** {{item.rating}}/10</p>
                    <a class="btn btn-primary btn-info" href="/providerDetails/{{item.id}}"> View Details </a>
                  </div>                  
                </div>
              </div>
            </section>
          </div>    
          {% endfor %}        
        </div>
      </div>
    </main>

{% endblock %}